<div class="modal" id="item_batch_table_modal"  data-backdrop="static" tabindex='-1'>
  <div class="modal-dialog item_batch_dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Choose Batch</h4>
      </div>
      <div class="modal-body" id = "item_batch_body">
        <table class="table table-striped table-bordered table-hover table-condensed" id="tblGrid">
          <thead id="tblHead">
            <tr>
              <th>Batch No</th>
              <th>Expiry</th>
              <th>Strip</th>
              <th>Nos</th>
              <th>Strip Sale</th>
              <th>Strip Pur</th>
              <th>MRP</th>
            </tr>
          </thead>
          <tbody id = "batches_content">
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
