<div class = "container-fluid" style="margin-top:8px;">
	<table id = "sale_item_table" class="table table-hover table-bordered">
	  <thead class="thead-inverse" id = "sale_table_head">
	    <tr>
			<th class = 'item_name'>Item Name</th>
			<th class = 'batch'>Batch No.</th>
			<th class = 'expiry'>Expiry</th>
			<th class = 'strip'>Strip</th>
			<th class = 'nos'>Nos</th>
			<th class = 'strip_free'>Free Strip</th>
			<th class = 'nos_free'>Free Nos</th>
			<th class = 'mrp'>MRP</th>
			<th class = 'amt'>Amount</th>
			<th class = 'buttons'>Buttons</th>
	    </tr>
	  </thead>
	  <tbody id = "sales_table_body">
	  </tbody>
	</table>
</div>
