<div class="container-fluid" style="margin-top:8px;">
    <table id="purchase_item_table" class="table table-hover table-bordered">
        <thead class="thead-inverse" id="purchase_table_head">
            <tr>
                <th class='item_name'>Item Name</th>
                <th class='batch'>Batch No</th>
                <th class='expiry'>Expiry</th>
                <th class='total_qty'>Qty</th>
                <th class='qty_free'>FreeQty</th>
                <th class='mrp'>MRP</th>
                <th class='rate'>Rate</th>
                <th class='discount'>Disc%</th>
                <th class='sgst'>CGST%</th>
                <th class='cgst'>SGST%</th>
                <th class='amt'>Amount</th>
                <th class='buttons'>Buttons</th>
            </tr>
        </thead>
        <tbody id="purchase_table_body">
        </tbody>
    </table>
</div>