.table-container {
    height: 15em;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    font-size: 13.5px;
}

table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

.list-group-item {
    font-size: 12.5px;
    font-weight: none;
}
.backup{
    position: absolute;
    right:0;
    bottom: 0;
}
#backupModalBodyError{
    color:red;
}
