<div class="modal search_item_modal" id="search-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog search_item_modal_dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Search Item
       	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>

      </div>
      <div class="modal-body search_item_modal_body">
          <div class="form-group">
            <label for="message-text">Item Name</label>
            
            <input type = "text" class="form-control" id="item-name"></input>
          </div>
          <div id = "search-msg" style= "color: red;"></div>
           <div style = "float: right; margin-top: 8px;">
        		<button type="button" id = "search-btn" class="btn btn-sm btn-primary">Search</button>
        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      		</div>
      </div>

      <table class="table table-fixed table-striped" id = "search_item_table">
        <tbody id = "search-res">
          
        </tbody>
      </table>

    </div>
  </div>
</div>

