<div class="modal fade" id="search_item_modal" tabindex="-1" role="dialog" aria-labelledby="editor-title" data-backdrop="static"
  data-keyboard="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Item Information</h4>
      </div>
      <div class="modal-body">
        <div class="form-group search_item_name">
          <label for="usr">Item Name:</label>
          <input type="text" class="form-control" id="id_searchmodal_item_id">
          <div id="modal_item_data" style="margin-top:12px;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Search" id="item_search">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
